/*HOME*/
@media (max-width: 1199px) {
    .item-description, .more-info-on-hover{
        padding: 0;
    }
    .kit{
        padding: 20px 25px;
    }
    .adv-area{
        padding: 30px;
    }
    .item-description-inner, .best-sales-item-img{
        padding-right: 10px;
        padding-left: 10px;
    }
    .load-more{
        margin: 25px 0 0 0;
    }
    .best-sales-item{
        padding: 30px 10px;
    }
}
@media (max-width: 991px){
    .bottom-header .header-nav{
        display: none;
    }
    .slicknav_menu{
        display: block;
    }
    .bottom-header .user-controls{
        margin: 0;
    }
    .item{
        margin-bottom: 30px;
    }
    .kit{
        margin-bottom: 30px;
    }
    .subscribe-form{
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .subscribe-form .subscribe-description{
        margin-bottom: 30px;
    }
    .footer-wrapper{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .footer-logo, .footer-payment{
        text-align: center;
    }
    .footer-payment > span{
        margin-top: 15px;
    }
    /*CATEGORY PAGE*/
    .category-wrap{
        padding: 60px 0;
    }
    .mobile-sidebar-btn{
        display: block;
        z-index: 99;
        position: relative;
    }
    .mobile-sidebar-wrap{
        position: absolute;
        -webkit-transform: translateX(-110%);
            -ms-transform: translateX(-110%);
                transform: translateX(-110%);
        -webkit-transition: all .3s linear;
        -o-transition: all .3s linear;
        transition: all .3s linear;
        z-index: 99;
    }
    .overlay{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        opacity: 0;
        z-index: -1;
        -webkit-transition: all .3s linear;
        -o-transition: all .3s linear;
        transition: all .3s linear;
        background-color: rgba(0, 0, 0, .4);
    }
    main.show .mobile-sidebar-wrap{
        -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
                transform: translateX(0);
        left: 0;
        right: 0;
    }
    main.show .overlay{
        z-index: 98;
        opacity: 1;
    }
}
@media (max-width : 600px) {

}
@media (max-width : 479px) {
    .header-logo{
        margin: 0;
    }
    .top-header .flex-container.justify-sp-between{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    ul.phones-list{
        margin: 0 auto;
    }
    .header-social-nav{
        white-space: nowrap;
        margin: 10px auto 0;
    }
    .user-controls a + a{
        margin-left: 10px;
    }
}
@media (max-width : 320px) {

}
/*HOME*/
