/* RESET START */
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    color: #34404b;
    font: 12px/1 'Harmonia-regular', sans-serif;
    background-color: #f4f6f8;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}
ul, ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
a, a:hover{
    color: inherit;
    text-decoration: none;
}
img{
    max-width: 100%;
}
input, textarea, button{
    outline: none;
    border: none;
}
textarea{
    resize: vertical;
}
button{
    cursor: pointer;
}
label{
    margin-bottom: 0;
}
/* RESET END */

/* DEFAULT CLASSES START */
.flex-container{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.align-center{
    align-items: center;
}
.justify-sp-between{
    justify-content: space-between;
}
.orange-text{
    color: #ff5912;
}
.red-bg{
    background-color: #e12e3f;
}
.black-bg{
    background-color: #34404b;
}
.blue-bg{
    background-color: #3ab3ff;
}
.green-bg{
    background-color: #2fd967;
}
.white-bg{
    background-color: #ffffff;
}
.light-orange-bg{
    background-color: #ff9060;
}
.orange-bg{
    background-color: #ff5912;
}
span.icon{
    display: inline-block;
}
/* DEFAULT CLASSES END */

/* DEFAULT COMPONENTS START */
.custom-icon{
    display: inline-block;
}
.icon-like-ic:hover{
    background-position: -57px -80px;
}
.icon-share-ic:hover{
    background-position: -19px -80px;
}
.title{
    font-family: 'Harmonia_black';
    text-transform: uppercase;
    font-size: 36px;
    margin-bottom: 25px;
}
.title.middle{
    font-size: 28px;
}
.title.big{
    font-size: 52px;
}
.subtitle{
    display: block;
    font-size: 16px;
    color: #495662;
    margin-bottom: 70px;
}
.default-section{
    padding: 60px 0;
}
.checkbox-group input[type="checkbox"]{
    display: none;
}
.checkbox-group label{
    font-size: 16px;
    color: #34404b;
    cursor: pointer;
}
.checkbox-group label::before{
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    border: 4px solid #edf0f2;
    background-color: #edf0f2;
    margin-right: 13px;
}
.checkbox-group input[type="checkbox"]:checked + label{
    color: #ff5912;
}
.checkbox-group input[type="checkbox"]:checked + label::before{
    border-color: #ff5912;
}
.item{
    background-color: #ffffff;
    padding: 30px 10px;
    transition: all .3s linear;
    text-align: center;
    height: 372px;
    position: relative;
}
.item:hover{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.item .item-img{
    transition: all .3s linear;
    margin-bottom: 30px;
    height: 216px;
}
.item .item-img img{
    max-height: 100%;
}
.item:hover .item-img{
    height: 90px;
}
.item-description{
    padding: 0 40px;
}
.item .item-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    font-family: 'Harmonia_bold';
    color: #34404b;
    margin-bottom: 30px;
}
.item:hover .item-title{
    color: #ff5912;
}
.item .item-price{
    font-family: 'Harmonia_bold';
    font-size: 18px;
    color: #ff5912;
}
.item:hover .item-price{
    display: none;
}
.more-info-on-hover{
    opacity: 0;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: all .3s linear;
    width: 100%;
    padding: 0 50px;
}
.item:hover .more-info-on-hover{
    opacity: 1;
}
.more-info-on-hover .size{
    font-size: 14px;
    color: #34404b;
    margin-bottom: 29px;
}
.more-info-on-hover .colors{
    text-align: center;
    padding-bottom: 30px;
    border-bottom: 1px solid #f2f4f7;
}
.more-info-on-hover .colors li{
    display: inline-block;
    width: 13px;
    height: 13px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.more-info-on-hover .item-controls{
    padding-top: 30px;
    text-align: center;
}
.more-info-on-hover .item-controls li{
    display: inline-block;
}
.more-info-on-hover .item-controls li + li{
    margin-left: 30px;
}
.subscribe-form{
    padding: 37px 40px;
}
.subscribe-input-group{
    margin-right: 30px;
}
.subscribe-input-group label{
    vertical-align: middle;
    margin-right: 10px;
}
.subscribe-input{
    color: #7c8791;
    font-size: 14px;
    font-family:'Harmonia_italic';
    min-width: 255px;
}
.subscribe-description-title{
    font-family:'Harmonia_bold';
    font-size: 18px;
    margin-right: 23px;
}
.subscribe-description-offer{
    font-family:'Harmonia_italic';
    font-size: 14px;
    color: #34404b;
}
button.btn-default{
    padding: 18px 29px;
    border-radius: 0px;
    color: #ffffff;
    background-color: #ff5912;
}
button.btn-default:hover{
    color: #ff5912;
    background-color: #ffffff;
    border-color: #ff5912;
}
header .top-header {
    border-bottom: 1px solid #edeff1;
    padding: 20px 0;
}
header .top-header .phones-list li + li{
    margin-left: 20px;
}
header .top-header .phones-list li span.custom-icon{
    margin-right: 10px;
}
header .header-social-nav a + a{
    margin-left: 10px;
}
.items-carousel{
    min-height: 650px;
    background: url("../img/carousel-img-1.jpg") no-repeat center / cover;
    margin-bottom: 60px;
}
header .bottom-header{
    border-bottom: 1px solid #edeff1;
    padding: 40px 0;
    background-color: #ffffff;
}
.header-logo{
    margin-right: 83px;
}
.header-nav a{
    font-size: 16px;
}
.header-nav a + a{
    margin-left: 41px;
}
.header-nav a:hover{
    text-decoration: none;
    color: #ff5912;
}
.user-controls{
    margin-left: auto;
}
.user-controls a{
    display: block;
}
.user-controls a + a{
    margin-left: 30px;
}
.user-controls a.icon-search-ic:hover{
    background-position: -81px 0px;
}
.user-controls a.icon-user-ic:hover{
    background-position: 0px -59px;
}
.user-controls a.icon-cart-ic{
    position: relative;
}
.user-controls a.icon-cart-ic:hover{
    background-position: -44px -59px;
}
.user-controls span.label{
    position: absolute;
    top: -90%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background-color: #34404b;
}
/* DEFAULT COMPONENTS END */

/* ALL STYLES START */

/*CAROUSEL START*/
.item-flexslider{
    position: relative;
}
.items-carousel-subtitle span,
.price-wrapper{
    font-family: 'Harmonia_semibold';
    font-size: 18px;
    line-height: 1.6;
}
.items-carousel-subtitle p{
    font-size: 16px;
    color: #495662;
    line-height: 1.8;
    margin-bottom: 60px;
}
.price-wrapper > span{
    margin-right: 30px;
}
.price-wrapper span.icon{
    margin-right: 5px;
}
.price-wrapper a:hover{
    color: #ff5912;
}
/*CAROUSEL END*/

/*NEW ARRIVALS START*/
.load-more{
    margin: 80px 0;
    padding: 25px 0;
    background-color: #ffffff;
}
.load-more span.circle{
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #ff5912;
}
span .circle + .circle{
    margin-left: 5px;
}
/*NEW ARRIVALS END*/

/*KIT START*/
.kit{
    padding: 30px 60px;
    border: 1px solid #f2f4f7;
}
.sales-block{
    position: relative;
}
.sales-block > div{
    display: inline-block;
    width: 50px;
    height: 60px;
}
.sales-block div:first-child{
    transform: rotate(-45deg);
}
.sales-block div:last-child{
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    left: 0;
}
.sales-block-info-title,
.sales-block-info-price{
    display: block;
    transform: rotate(-45deg);
    color: #ffffff;
}
.sales-block-info-title{
    font-family: 'Harmonia_italic';
    font-size: 12px;
    margin: 7px 0;
}
.sales-block-info-price{
    font-family:'Harmonia_black';
    font-size: 18px;
}
.sales-block-description{
    padding-right: 58px;
    border-right: 1px solid #f2f4f7;
}
.sales-block-description h6{
    font-family:'Harmonia_black';
    font-size: 22px;
    color: #34404b;
    text-transform: uppercase;
}
.sales-block-description p{
    font-family:'Harmonia_regular';
    font-size: 12px;
    line-height: 2.5;
    color: #34404b;
}
.sales-block-price span.price,
.sales-block-price span.currency{
    font-family:'Harmonia_black';
    font-size: 32px;
    color: #ff5912;
}
.sales-block-price span.currency{
    font-size: 22px;
}
.sales-block-price span + span{
    margin-left: 20px;
}
.adv-area{
    padding: 30px;
    font-family:'Harmonia_regular';
    color: #34404b;
    border: 1px solid #f2f4f7;
}
.adv-area span.adv-area-title{
    display: block;
    margin: 17px 0;
    font-size: 16px;
}
.adv-area span.adv-area-parameters{
    display: block;
    font-size: 12px;
    letter-spacing: 0.6em;
}
/*KIT END*/

/*BEST SALES START*/
.best-sales-item{
    padding: 35px 25px;
    transition: all .3s linear;
}
.best-sales-item:hover{
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
}
.best-sales-item-img{
    padding-right: 25px;
}
.best-sales-item-description{
    display: block;
    padding-top: 15px;
}
.item-description-inner{
    border-left: 1px solid #f2f4f7;
    padding-left: 25px;
}
.best-sales-item-title{
    display: block;
    margin-bottom: 25px;
    font-family:'Harmonia_bold';
    font-size: 18px;
    color: #34404b;
}
.description-details{
    font-family:'Harmonia_bold';
    font-size: 18px;
}
.description-details span i.fa{
    color: #e8ecf3;
    font-size: 14px;
}
.description-details span i.fa.active{
    color: #ff5912;
}
.add-to-cart{
    display: none;
}
.add-to-cart span.add-button{
    font-family:'Harmonia_semibold';
    font-size: 16px;
}
.best-sales-item:hover .description-details{
    display: none;
}
.best-sales-item:hover .add-to-cart{
    display: block;
    opacity: .4;
    margin-top: -5px;
    transition: all .3s linear;
}
.best-sales-item-description:hover .add-to-cart{
    opacity: 1;
}
/*BEST SALES END*/

/*FOOTER START*/
footer{
    margin-top: 60px;
}
.footer-wrapper{
    padding-top: 90px;
    padding-bottom: 80px;
}
.copyright span{
    display: block;
    font-size: 14px;
    margin-top: 20px;
    color: #28313b;
}
.footer-nav li{
    display: block;
    font-size: 14px;
    color: #28313b;
}
.footer-nav li + li{
    margin-top: 15px;
}
.footer-nav li:hover{
    color: #ff5912;
}
.footer-nav li::before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #28313b;
}
.footer-nav li:hover:before{
    background-color: #ff5912;
}
.footer-payment span{
    display: block;
    margin-bottom: 15px;
    font-family:'Harmonia_semibold';
    font-size: 16px;
    line-height: 1.8;
    color: #ff5912;
}
.footer-wrapper a.icon{
    display: inline-block;
}
/*FOOTER END*/

/*CATEGORY PAGE STYLE START*/
.category-wrap{
    padding-top: 120px;
}
.aside-section{
    padding: 40px;
}
.aside-section + .aside-section{
    margin-top: 30px;
}
.aside-section-title{
    font-family: 'Harmonia_black';
    font-size: 18px;
    color: #ff5912;
    margin-bottom: 35px;
}
.checkbox-group + .checkbox-group{
    padding-top: 38px;
}
.checkbox-group label{
    font-family:'Harmonia_semibold';
}
form.categories .checkbox-group label::before{
    display: none;
}
.category-wrap .item{
    margin-bottom: 30px;
}
.category-wrap .load-more{
    margin-top: 0;
}
.range{
    margin-top: 40px;
}
.range-input-reoup{
    margin-top: 35px;
}
.range-input-reoup label{
    margin-right: 15px;
    font-family:'Harmonia_semibold';
    font-size: 14px;
    color: #34404b;
}
.range-input-reoup input[type="number"]{
    background-color: #edf0f2;
    width: 45px;
}
.range-input-reoup + .range-input-reoup{
    margin-left: 10px;
}
.min-value, .max-value{
    position: absolute;
    top: -150%;
    font-size: 14px;
    color: #34404b;
    font-family: 'Harmonia_semibold';
    transform: translateX(-50%);
    left: 50%;
}
/*CATEGORY PAGE STYLE END*/

/*PRODUCT PAGE STYLE START*/
.product-wrap{
    padding: 100px 125px;
    background-color: #fff;
}
.product-carousel{
    width: 330px;
}
.chose-size span{
    margin-right: 40px;
}
.size-radio input[type="radio"]{
    display: none;
}
.size-radio label{
    font-size: 14px;
    color: #34404b;
    font-family:'Harmonia_semibold';
    text-transform: uppercase;
    cursor: pointer;
}
.size-radio input[type="radio"]:checked + label{
    color: #ff5912;
    font-size: 18px;
}
.size-radio + .size-radio{
    margin-left: 20px;
}
.order-title,
.order-subtitle{
    display: block;
}
.order-subtitle{
    font-family:'Harmonia_semibold';
    font-size: 18px;
    line-height: 1.66;
    color: #3c4751;
}
.order-info p{
    display: block;
    padding: 40px 0;
    width: 500px;
    font-size: 16px;
    line-height: 1.8;
    color: #495662;
}
.order-form{
    padding: 40px 0;
    border-top: 1px solid #edeff1;
    border-bottom: 1px solid #edeff1;
}
.jq-number__field{
    border: none;
    box-shadow: none;
}
.jq-number__spin.minus,
.jq-number__spin.plus{
    border: none;
    box-shadow: none;
    background: none;
}
.jq-number__spin.minus{

}
.jq-number__spin.plus{

}
.jq-number__field input{
    color: #ff5912;
}
.order-now{
    margin-top: 40px;
}
.order-now .btn-default {
    color: #ffffff;
    padding: 15px 23px;
    background-color: #ff5912;
    border-color: #ff5912;
    border-radius: 30px;
    font-family:'Harmonia_semibold';
    font-size: 18px;
}
.order-now .btn-default:hover{
    background-color: #fff;
    color: #ff5912;
}
.order-now .btn-default:focus{
    outline: none;
}
.order-now .product-share{
    margin-left: auto;
}
.order-now .btn-default{
    margin-left: 25px;
}
.product-share .item-controls li + li{
    margin-left: 30px;
}
.product-share .item-controls span.icon-add-to-cart-ic:hover{
    background-position: 0 -38px;
}






/*PRODUCT PAGE STYLE END*/
























/* ALL STYLES END */